.recipe.title {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: "Brush Script MT", Tahoma, "Trebuchet MS", serif;
    font-size: 60px;
    font-weight: 1000;
}

.content h2 {
    font-family: papyrus, monospace;
}

h2,
img,
li {
    text-align: center;
}
.title {
    background-color: rgba(10, 40, 30, 0.3);
    color: #f0f8ff;
    font-family: Garamond, Tahoma, "Trebuchet MS", serif;
    font-size: 60px;
    font-weight: 30;
    text-align: center;
}

/* Only the bullet point's color gets changed because the content of each <li>
+is hyperlink(<a>). The color of <a> need to be set additionally.*/
.recipe {
    color: hsla(330, 50%, 50%, 0.5);
    font-size: 20px;
    text-align: justify;
}

#fphoto {
    height: 400px;
    width: auto;
}

a:link {
    color: hsla(330, 50%, 50%, 0.5);
    font-family: "Courier New", BlinkMacSystemFont, -apple-system, "Segoe UI", sans-serif;
}
